<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="DragonSettings">
      <section name="Color" type="System.Configuration.DictionarySectionHandler" />
      <section name="Id" type="System.Configuration.DictionarySectionHandler" />
    </sectionGroup>
  </configSections>
  <DragonSettings>
    <Color>
      <add key="Shatterer" value="Red" />
      <add key="Jormag" value="Blue" />
    </Color>
    <Id>
      <add key="Shatterer" value="Red" />
      <add key="Jormag" value="Blue" />
    </Id>
  </DragonSettings>
</configuration>